## Q2. 
**dataset: 01-data/01_Wine_Project/Wine.db**

All details, including can be found on my github page for this project  
**https://github.com/Dandata0101/MBS-projects/tree/main#readme**

Work on the red wine dataset: Wine.db
The data of red wine contains four tables: Wine, Winery, Grape, and Rater.

In [1]:
import os
import sys
import pandas as pd
import sqlite3
import my_packages.Sql_table_details
import xlsxwriter

# Paths and directory
current_directory = os.getcwd()
wine = os.path.join(current_directory, "01-data/01_wine_Project", "wine.db")


# function that checks table details
my_packages.Sql_table_details.display_table_details(wine)
#my_packages.Sql_table_details.sample_table(wine,'winery',10)

Table: Grape
+-----+---------+---------+---------+------------+----+
| cid |   name  |   type  | notnull | dflt_value | pk |
+-----+---------+---------+---------+------------+----+
|  0  |    id   | INTEGER |    0    |    None    | 1  |
|  1  | variety |   TEXT  |    0    |    None    | 0  |
+-----+---------+---------+---------+------------+----+

Table: Winery
+-----+----------+---------+---------+------------+----+
| cid |   name   |   type  | notnull | dflt_value | pk |
+-----+----------+---------+---------+------------+----+
|  0  |    id    | INTEGER |    0    |    None    | 1  |
|  1  | country  |   TEXT  |    0    |    None    | 0  |
|  2  | province |   TEXT  |    0    |    None    | 0  |
|  3  |  winery  |   TEXT  |    0    |    None    | 0  |
+-----+----------+---------+---------+------------+----+

Table: Rater
+-----+----------------+---------+---------+------------+----+
| cid |      name      |   type  | notnull | dflt_value | pk |
+-----+----------------+---------+---------+------------+----+
|  0  |       id       | INTEGER |    0    |    None    | 1  |
|  1  |      name      |   TEXT  |    0    |    None    | 0  |
|  2  | twitter_handle |   TEXT  |    0    |    None    | 0  |
+-----+----------------+---------+---------+------------+----+

Table: Wine
+-----+-------------+---------+---------+------------+----+
| cid |     name    |   type  | notnull | dflt_value | pk |
+-----+-------------+---------+---------+------------+----+
|  0  |      id     | INTEGER |    0    |    None    | 1  |
|  1  |    points   | INTEGER |    0    |    None    | 0  |
|  2  |    title    |   TEXT  |    0    |    None    | 0  |
|  3  | description |   TEXT  |    0    |    None    | 0  |
|  4  |    price    | INTEGER |    0    |    None    | 0  |
|  5  | designation |   TEXT  |    0    |    None    | 0  |
|  6  |     year    | INTEGER |    0    |    None    | 0  |
|  7  |     gid     | INTEGER |    0    |    None    | 0  |
|  8  |     wid     |   REAL  |    0    |    None    | 0  |
|  9  |     rid     | INTEGER |    0    |    None    | 0  |
+-----+-------------+---------+---------+------------+----+

## 2A. 
Grapes are the raw material for making red wine. Which country has the most varieties
of grapes, please report the name of the country and the number of types of grapes

In [2]:
GrapeQuery = """
select 
w2.country,
count(distinct g.variety) as[count of variety]
from Wine w1
 join Winery w2 on w1.wid=w2.id
 join Grape g on  w1.gid=g.id

group by
w2.country

order by count(distinct g.variety) desc
"""
Grapes=my_packages.Sql_table_details.run_query_from_db(wine,GrapeQuery)
#print(Grapes)

+------------------------+------------------+
|        country         | count of variety |
+------------------------+------------------+
|           US           |       294        |
|         Italy          |       174        |
|         France         |       160        |
|         Spain          |       139        |
|        Portugal        |       113        |
|       Australia        |        91        |
|         Chile          |        68        |
|       Argentina        |        68        |
|        Austria         |        56        |
|         Israel         |        54        |
|      South Africa      |        53        |
|         Greece         |        45        |
|      New Zealand       |        34        |
|         Canada         |        33        |
|        Germany         |        32        |
|        Slovenia        |        29        |
|        Hungary         |        29        |
|        Romania         |        27        |
|        Bulgaria        |        26        |
|        Croatia         |        25        |
|        Uruguay         |        24        |
|         Turkey         |        24        |
|         Mexico         |        23        |
|        Moldova         |        22        |
|        Georgia         |        15        |
|         Brazil         |        13        |
|      Switzerland       |        11        |
|          Peru          |        11        |
|        Lebanon         |        9         |
|     Czech Republic     |        9         |
|        Ukraine         |        8         |
|        Morocco         |        8         |
|       Macedonia        |        8         |
|         Kosovo         |        7         |
|        England         |        7         |
|        Armenia         |        7         |
|         Serbia         |        6         |
|        Bolivia         |        6         |
| Bosnia and Herzegovina |        5         |
|       Luxembourg       |        4         |
|         Cyprus         |        4         |
|         Poland         |        3         |
|         India          |        3         |
|         Global         |        2         |
|         China          |        2         |
|        Slovakia        |        1         |
+------------------------+------------------+

## 2B. 
According to the guide published by wine enthusiasts, red wine can be divided into four
classes based on its price: everyday wine, mid-range wine, fine wine, and super fine wine. If the
price of red wine is higher than or equal to $340, it will be classified as super fine wine. Please
report the average price and points of the super fine wines.

In [3]:
finewineQuery = """
select
avg(points), 
avg(price)
From Wine w
where price >=340
order by price desc

"""
FineWine=my_packages.Sql_table_details.run_query_from_db(wine,finewineQuery)
#print(FineWine)

+-------------------+-------------------+
|    avg(points)    |     avg(price)    |
+-------------------+-------------------+
| 95.39755351681957 | 629.1896024464831 |
+-------------------+-------------------+

## 2C.
C. A rater evaluates the score and price of the wine fairly and unbiasedly based on the
quality of the wine. Please write SQL code and python code to analyse the data statistics of points
and prices of wine evaluated by each taster and use the format rater_name.xlsx to export the data
statistics.

Export to excels will be delivered the [02-output directory/rater_stats](https://github.com/Dandata0101/MBS-projects/tree/main/02-output/rater_stats "directory raters").

In [4]:
# SQL query
RaterQuery = """
SELECT
    r.name AS [Rater],
    w.points , 
    w.price
FROM Wine w
JOIN Rater r ON w.rid = r.id
"""

# Run SQL query and store the result in Raters_table
Raters_table = my_packages.Sql_table_details.run_query_from_db(wine, RaterQuery, print_table=False)

# Function to calculate statistics
def calculate_statistics(data, column_name):
    grouped_statistics = data.groupby('Rater')[column_name].describe()
    median_series = data.groupby('Rater')[column_name].median()

    grouped_statistics = grouped_statistics.reset_index()
    grouped_statistics['median'] = median_series.values

    grouped_statistics = grouped_statistics[[
        'Rater', 'count', 'mean', 'median', 'std', 'min', '25%', '50%', '75%', 'max']]
    
    # Print the grouped_statistics DataFrame to the console
    print(f"Statistics for {column_name}:\n")
    print(grouped_statistics)
    print('')
    return grouped_statistics
    
# Columns to process
columns_to_process = ['price','points']

# Initialize an empty DataFrame to store combined statistics
combined_statistics = None

# Loop through the columns and calculate statistics for each
for idx, column in enumerate(columns_to_process):
    statistics = calculate_statistics(Raters_table, column)
    
    if idx == 1:
        # Drop the 'Rater' column after the first output
        statistics = statistics.drop(columns=['Rater'])
    
    statistics.rename(columns={col: f'{column} {col}' for col in statistics.columns}, inplace=True)
    
    if combined_statistics is None:
        combined_statistics = statistics
    else:
        # Merge based on the index (no 'on' parameter) with a blank column separator
        combined_statistics = pd.concat([combined_statistics, pd.DataFrame(columns=['']), statistics], axis=1)

# Rename the first column from the 'columns_to_process' list to "Rater" after the final append
if combined_statistics is not None:
    combined_statistics.rename(columns={combined_statistics.columns.values[0]: 'Rater'}, inplace=True)

# Create an Excel writer object
output_file = current_directory + '/02-output/rater_stats/Raters_names_combined.xlsx'
with pd.ExcelWriter(output_file, engine='xlsxwriter') as writer:
    combined_statistics.to_excel(writer, sheet_name='Combined Statistics', index=False)
    
    # Auto-adjust column width for the entire sheet
    worksheet = writer.sheets['Combined Statistics']
    for i, col in enumerate(combined_statistics.columns):
        max_len = max(combined_statistics[col].astype(str).str.len().max(), len(col))
        worksheet.set_column(i, i, max_len)  # Set column width to the max length of the data or column name
    
    # Freeze the first column
    worksheet.freeze_panes(1, 1)  # 'B2' cell is the first unfrozen cell

Statistics for price:

                 Rater    count       mean  median        std   min   25%  \
0   Alexander Peartree   1551.0  26.776273    23.0  15.862095   8.0  18.0
1   Anna Lee C. Iijima   4369.0  29.790112    22.0  40.326678   4.0  16.0
2     Anne KrebiehlÂ MW   4623.0  39.999567    30.0  42.741457  10.0  20.0
3         Carrie Dykes    138.0  30.753623    28.0  10.866685  14.0  24.0
4    Christina Pickard   1356.0  42.195428    25.0  69.673944   7.0  19.0
5          Fiona Adams    349.0  22.126074    18.0  11.286047   5.0  13.0
6           Jacy Topps     21.0  23.952381    20.0  12.670739  12.0  15.0
7         Jeff Jenssen    743.0  24.983849    18.0  30.496648   6.0  12.0
8           Jim Gordon   7681.0  29.587424    25.0  20.955246   3.0  16.0
9       Joe Czerwinski   5012.0  35.175579    22.0  44.434444   5.0  16.0
10       Kerin OâKeefe  14057.0  44.648431    32.0  45.081630   6.0  20.0
11       Lauren Buzzeo   1919.0  25.525274    18.0  25.473724   5.0  13.0
12       Layla Schlack    127.0  33.385827    28.0  16.025796  14.0  22.0
13       Matt Kettmann  11589.0  41.547502    38.0  28.518207   6.0  26.0
14     Michael Alberty    196.0  37.581633    35.0  17.061832  12.0  25.0
15   Michael Schachner  16200.0  25.619815    17.0  31.419459   4.0  12.0
16       Mike DeSimone   1292.0  36.307276    25.0  44.972554   8.0  17.0
17        Paul Gregutt  11494.0  35.998608    30.0  20.701207   5.0  21.0
18          Roger Voss  29502.0  38.132940    23.0  85.927134   5.0  15.0
19    Sean P. Sullivan   7328.0  36.331878    32.0  21.753790   6.0  21.0
20       Stacy Briscoe    163.0  26.797546    22.0  21.653888   5.0  15.0
21     Susan Kostrzewa   1073.0  22.908667    19.0  17.311163   7.0  14.0
22      Virginie Boone  13198.0  52.759357    43.0  39.862353   7.0  28.0

     50%   75%     max
0   23.0  30.0   250.0
1   22.0  31.0   775.0
2   30.0  47.0  1100.0
3   28.0  35.0    75.0
4   25.0  42.0  1062.0
5   18.0  29.0    80.0
6   20.0  25.0    60.0
7   18.0  26.0   500.0
8   25.0  36.0   245.0
9   22.0  40.0   850.0
10  32.0  55.0  1444.0
11  18.0  29.0   540.0
12  28.0  41.0    85.0
13  38.0  50.0  2013.0
14  35.0  46.0   110.0
15  17.0  26.0  1500.0
16  25.0  40.0   825.0
17  30.0  45.0   295.0
18  23.0  40.0  8500.0
19  32.0  45.0   260.0
20  22.0  35.0   175.0
21  19.0  26.0   320.0
22  43.0  65.0   700.0

Statistics for points:

                 Rater    count       mean  median       std   min   25%  \
0   Alexander Peartree   1551.0  87.684075    88.0  2.598659  80.0  86.0
1   Anna Lee C. Iijima   4369.0  88.405127    88.0  2.561734  80.0  87.0
2     Anne KrebiehlÂ MW   4623.0  91.107290    91.0  2.528709  80.0  89.0
3         Carrie Dykes    138.0  86.384058    87.0  2.001177  81.0  85.0
4    Christina Pickard   1356.0  90.011799    90.0  3.091449  82.0  88.0
5          Fiona Adams    349.0  87.404011    88.0  2.121344  80.0  86.0
6           Jacy Topps     21.0  88.142857    89.0  1.062342  86.0  87.0
7         Jeff Jenssen    743.0  88.488560    89.0  2.507039  81.0  87.0
8           Jim Gordon   7681.0  89.002604    89.0  2.835323  80.0  87.0
9       Joe Czerwinski   5012.0  88.539505    89.0  2.864852  80.0  87.0
10       Kerin OâKeefe  14057.0  89.318560    89.0  2.660627  80.0  87.0
11       Lauren Buzzeo   1919.0  87.785305    88.0  2.509372  81.0  86.0
12       Layla Schlack    127.0  90.866142    91.0  1.692008  87.0  90.0
13       Matt Kettmann  11589.0  90.522823    91.0  2.523812  81.0  89.0
14     Michael Alberty    196.0  89.260204    89.0  2.080101  83.0  88.0
15   Michael Schachner  16200.0  87.011173    87.0  3.051960  80.0  85.0
16       Mike DeSimone   1292.0  89.857585    90.0  2.498612  82.0  88.0
17        Paul Gregutt  11494.0  89.390813    90.0  2.819592  80.0  87.0
18          Roger Voss  29502.0  88.875059    89.0  2.921718  80.0  87.0
19    Sean P. Sullivan   7328.0  89.111217    89.0  2.443419  80.0  87.0
20       Stacy Briscoe    163.0  88.613497    88.0  2.529639  82.0  87.0
21     Susan Kostrzewa   1073.0  86.620690    87.0  2.369076  80.0  85.0
22      Virginie Boone  13198.0  89.794817    90.0  3.148811  80.0  88.0

     50%   75%    max
0   88.0  90.0   95.0
1   88.0  90.0   98.0
2   91.0  93.0   99.0
3   87.0  88.0   92.0
4   90.0  92.0  100.0
5   88.0  89.0   92.0
6   89.0  89.0   89.0
7   89.0  90.0   99.0
8   89.0  91.0  100.0
9   89.0  91.0  100.0
10  89.0  91.0  100.0
11  88.0  90.0   96.0
12  91.0  92.0   95.0
13  91.0  92.0   98.0
14  89.0  91.0   94.0
15  87.0  89.0   98.0
16  90.0  91.0   98.0
17  90.0  91.0  100.0
18  89.0  91.0  100.0
19  89.0  91.0   98.0
20  88.0  90.0   96.0
21  87.0  88.0   94.0
22  90.0  92.0  100.0